apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: krill
  annotations:
    run.googleapis.com/launch-stage: BETA
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
        run.googleapis.com/execution-environment: gen2
    spec:
      serviceAccountName: krill-sa@PROJECT_ID.iam.gserviceaccount.com
      timeoutSeconds: 300
      containers:
        - image: us-central1-docker.pkg.dev/PROJECT_ID/krill/krill:latest
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
          env:
            - name: TELEGRAM_BOT_TOKEN
              value: CHANGE_ME
            - name: OPENAI_API_KEY
              value: CHANGE_ME
            - name: GEMINI_API_KEY
              value: CHANGE_ME
            - name: GITHUB_PERSONAL_ACCESS_TOKEN
              value: CHANGE_ME
          volumeMounts:
            - name: krill-data
              mountPath: /data
      volumes:
        - name: krill-data
          csi:
            driver: gcsfuse.run.googleapis.com
            volumeAttributes:
              bucketName: krill-data
  traffic:
    - percent: 100
      latestRevision: true
